@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
    cursor: pointer;
}
img {
    overflow: hidden;
}
span {
    color: var(--blue);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
:root {
    --blue: rgb(37, 0, 147);
}

/* Header */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    justify-self: center;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-bar .brand a h1 {
    color: white;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: var(--blue);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header */

/* Hero Section */

#hero {
    background-image: url(https://img.freepik.com/free-vector/flat-dental-care-concept_23-2148984320.jpg?w=900&t=st=1680477015~exp=1680477615~hmac=791eb576442e49767cb4a9406083e4e10164c9821965c69f3c6b6b616b64f629);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero .hero-container {
    display: flex;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#hero .hero-container div {
    margin-bottom: 64px;
    padding: 5px;
    border-radius: 10px;
    background: transparent;

    animation: text_reveal_background 3s ease forwards;
}
#hero .hero-container h1 {
    color: transparent;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 8rem;

    animation: text_reveal_name 3s ease forwards;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    background: rgb(11,5,116);
    background: linear-gradient(90deg, rgba(11,5,116,0.6302170526413691) 0%, rgba(38,38,105,0.2884803579634979) 35%, rgba(0,212,255,0.3781162123052346) 100%);    
}

/* End Hero Section */


/* Services Section */

#services {
    background-color: white;
}
#services .services-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 44px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .services-container .services-top {
    width: 80%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin-bottom: 44px;
}
#services .services-container .services-top h1 {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1rem;
    margin-bottom: 20px;
}
#services .services-container .services-top p {
    font-size: 1.8rem;
    font-weight: 400;
}
#services .services-container .services-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
#services .services-container .services-bottom .services-item {
    width: 25%;
    height: 550px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
    border-radius: 1rem;
    background-image: url(https://img.freepik.com/premium-vector/hand-drawn-stomatology-set_160308-249.jpg);
    background-size: cover;
	background-position: top center;
    position: relative;
    z-index: 1;
}
#services .services-container .services-bottom .services-item::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #4c8ad2 0%, #0b57a9 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .services-container .services-bottom .services-item .image {
    width: 100%;
    margin-bottom: 2rem;
}
#services .services-container .services-bottom .services-item img {
    width: 100%;
    border-radius: 1rem;
}
#services .services-container .services-bottom .services-item:hover {
    transform: scale(1.1);
}
#services .services-container .services-bottom .services-item h2 {
    color: white;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}
#services .services-container .services-bottom .services-item h2:nth-child(2) {
    font-size: 3.2rem;
}
#services .services-container .services-bottom .services-item:nth-child(3) h2 {
    line-height: 2.8rem;
}
#services .services-container .services-bottom .services-item p {
    font-size: 1.8rem;
    color: white;
}

/* End Services Section */


/* About Section */

#about .about-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 44px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about .about-container .col-left {
    width: 30%;
}
#about .about-container .col-left .about-image {
    width: 100%;
    padding: 20px;
    border: 1rem solid var(--blue);
    border-radius: 1rem;
    margin: 24px;
}
#about .about-container .col-left .about-image img {
    width: 100%;
    height: 100%;
}
#about .about-container .col-right {
    margin: 44px 60px;
    width: 50%;
}
#about .about-container .col-right h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 24px;
    color: var(--blue);
}
#about .about-container .col-right p {
    font-size: 1.8rem;
    letter-spacing: .1rem;
}

/* End About Section */

/* Contact Section */

#contact .contact-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 44px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contact .contact-container .contact-map {
    width: 80%;
    height: 400px;
    padding-left: 44px;
}
#contact .contact-container .contact-map iframe {
    width: 100%;
    height: 100%;
}
#contact .contact-container .contact-info {
    width: 50%;
    margin: 24px;
    padding-left: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact .contact-container .contact-info .contact-info-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 8px;
    border-bottom: .1rem solid var(--blue);
}
#contact .contact-container .contact-info .contact-info-item:nth-child(2) {
    margin-top: 12px;
}
#contact .contact-container .contact-info .contact-info-item:nth-child(3) {
    margin-top: 12px;
    border-bottom: 0;
}
#contact .contact-container .contact-info .contact-info-item .contact-info-item-image {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#contact .contact-container .contact-info .contact-info-item .contact-info-item-image img {
    width: 60px;
    margin-bottom: 8px;
}
#contact .contact-container .contact-info .contact-info-item .contact-info-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
#contact .contact-container .contact-info .contact-info-item .contact-info-item-info h3 {
    font-size: 2.2rem;
    margin-bottom: 4px;
}
#contact .contact-container .contact-info .contact-info-item .contact-info-item-info p {
    font-size: 1.8rem;
}
#contact .contact-container .contact-info .contact-info-item:nth-child(3) .contact-info-item-info h3 {
    margin-bottom: 8px;
}
#contact .contact-container .contact-info .contact-info-item .contact-info-item-info p a {
    color: black;
    padding: 4px 8px;
    border: .1rem solid var(--blue);
}
#contact .contact-container .contact-info .contact-info-item:nth-child(3) .contact-info-item-info p a:hover {
    background-color: var(--blue);
    color: white;
}

/* End Contact Section */

/* Footer */

#footer .footer-container {
    background-image: linear-gradient(60deg, rgb(41, 50, 60) 0%, rgb(72, 85, 99) 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}
#footer .footer-container .schedule {
    margin: 20px;
}
#footer .footer-container .schedule p {
    color: white;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    text-align: center;
    line-height: 2rem;
}
#footer .footer-container .social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
#footer .footer-container .social-icons .social-item {
    width: 44px;
    margin: 0 16px;
}
#footer .footer-container .social-icons .social-item a {
    width: 100%;
}
#footer .footer-container .social-icons .social-item a img {
    width: 100%;
    filter: grayscale(1);
}
#footer .footer-container .social-icons .social-item:hover a img {
    filter: grayscale(0);
}
#footer .footer-container p {
    color: white;
}

/* End Fotter */

/* Keyframes */

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_background {
	100% {
		background: rgb(222,222,227);
        background: linear-gradient(90deg, rgba(222,222,227,0.22405458765537467) 0%, rgba(222,222,227,0.2520657921371674) 100%);    
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--blue);
	}
}

/* End Keyframes */

/* Media Query For Phone */

@media only screen and (min-width: 320px) {

    /* Hero Section */

    #hero .hero-container h1 {
        font-size: 4rem;
        line-height: 6rem;
    }

    /* End Hero Section */

    /* Services Section */
    
    #services .services-container .services-bottom .services-item {
        width: 85%;
    }

    /* End Services Section */

    /* About Section */

    #about .about-container .col-left {
        width: 80%;
    }
    #about .about-container .col-left .about-image {
        margin: 24px 0;
    }
    #about .about-container {
        flex-direction: column;
    }
    #about .about-container .col-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    /* End About Section */

    /* Contact Section */

    #contact .contact-container {
        flex-direction: column;
    }
    #contact .contact-container .contact-map {
        padding-left: 0;
    }
    #contact .contact-container .contact-info {
        padding-left: 0;
    }
    #contact .contact-container .contact-info .contact-info-item {
        align-items: center;
    }
    #contact .contact-container .contact-info .contact-info-item .contact-info-item-image {
        justify-content: center;
    }
    #contact .contact-container .contact-info .contact-info-item .contact-info-item-info {
        align-items: center;
    }

    /* End Contact Section */

}

@media only screen and (min-width: 425px) {

    /* Services Section */
    
    #services .services-container .services-bottom .services-item {
        width: 55%;
    }

    /* End Services Section */

    /* About Section */

    #about .about-container .col-left {
        width: 50%;
    }

    /* End About Section */

}

/* End Media Query For Phone */

/* Media Query For Tablet */

@media only screen and (min-width: 768px) {

    /* Hero Section */

    #hero .hero-container h1 {
        font-size: 5rem;
        line-height: 8rem;
    }

    /* End Hero Section */

    /* Services Section */
    
    #services .services-container .services-bottom .services-item {
        width: 35%;
    }
    #services .services-container .services-bottom .services-item h2:nth-child(2) {
        font-size: 2.8rem;
    }

    /* End Services Section */

    /* About Section */

    #about .about-container .col-left {
        width: 30%;
    }
    #about .about-container .col-left .about-image {
        margin: 24px;
    }
    #about .about-container {
        flex-direction: row;
    }
    #about .about-container .col-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        width: 50%;
    }

    /* End About Section */

    /* Contact Section */

    #contact .contact-container {
        flex-direction: row;
    }
    #contact .contact-container .contact-map {
        padding-left: 44px;
    }
    #contact .contact-container .contact-info {
        padding-left: 44px;
    }
    #contact .contact-container .contact-info .contact-info-item {
        align-items: flex-start;
    }
    #contact .contact-container .contact-info .contact-info-item .contact-info-item-image {
        justify-content: flex-start;
    }
    #contact .contact-container .contact-info .contact-info-item .contact-info-item-info {
        align-items: flex-start;
        text-align: left;
    }

    /* End Contact Section */

}

/* End Media Query For Tablet */

/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {

    /* header */

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

    /* Services Section */
    
    #services .services-container .services-bottom .services-item {
        width: 25%;
    }
    #services .services-container .services-bottom .services-item h2:nth-child(2) {
        font-size: 3.2rem;
    }

    /* End Services Section */
}

/* End Media Query For Desktop */