@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
img {
    overflow: hidden;
}
:root {
    --blue: rgb(37, 0, 147);
}

/* Hero Section */

#hero {
    background-image: url(https://img.freepik.com/free-vector/flat-dental-care-concept_23-2148984320.jpg?w=900&t=st=1680477015~exp=1680477615~hmac=791eb576442e49767cb4a9406083e4e10164c9821965c69f3c6b6b616b64f629);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero .hero-container {
    display: flex;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#hero .hero-container div {
    margin-bottom: 64px;
    padding: 20px 40px;
    border-radius: 10px;
    background: transparent;

    animation: text_reveal_background 3s ease forwards;
}
#hero .hero-container h1 {
    color: transparent;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 8rem;

    animation: text_reveal_name 3s ease forwards;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    background: rgb(11,5,116);
    background: linear-gradient(90deg, rgba(11,5,116,0.6302170526413691) 0%, rgba(38,38,105,0.2884803579634979) 35%, rgba(0,212,255,0.3781162123052346) 100%);    
}

/* End Hero Section */


/* Services Section */

#services {
    background-color: white;
}
#services .services-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 44px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .services-container .services-top {
    width: 80%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin-bottom: 44px;
}
#services .services-container .services-top h1 {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}
#services .services-container .services-top p {
    font-size: 1.8rem;
    font-weight: 400;
}
#services .services-container .services-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
#services .services-container .services-bottom .services-item {
    width: 25%;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
    border-radius: 1rem;
    background-image: url(https://img.freepik.com/premium-vector/hand-drawn-stomatology-set_160308-249.jpg);
    background-size: cover;
	background-position: top center;
    position: relative;
    z-index: 1;
}
#services .services-container .services-bottom .services-item::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #4c8ad2 0%, #0b57a9 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .services-container .services-bottom .services-item .image {
    width: 100%;
    margin-bottom: 2rem;
}
#services .services-container .services-bottom .services-item img {
    width: 100%;
    border-radius: 1rem;
}
#services .services-container .services-bottom .services-item h2 {
    color: white;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}
#services .services-container .services-bottom .services-item p {
    font-size: 1.8rem;
    color: white;
}


/* End Services Section */

@keyframes text_reveal_background {
	100% {
		background: rgb(222,222,227);
        background: linear-gradient(90deg, rgba(222,222,227,0.22405458765537467) 0%, rgba(222,222,227,0.2520657921371674) 100%);    
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--blue);
	}
}